<div class="header">
  <div class="header-left">
    <h1>Gamer Sell Store &nbsp;&nbsp;</h1>
    <ul>
      <!--<li><a [class.active]="isActiveLink === 'opcion1'" (click)="isActiveLink = 'opcion1'" href="#">Opción 1</a></li>
      <li><a [class.active]="isActiveLink === 'opcion2'" (click)="isActiveLink = 'opcion2'" href="#">Opción 2</a></li>
      <li><a [class.active]="isActiveLink === 'opcion3'" (click)="isActiveLink = 'opcion3'" href="#">Opción 3</a></li>-->
    </ul>
  </div>
  <div class="header-right">
    <a [routerLink]="loginAccess" class="header-link">Ingresar</a>
    <a [routerLink]="pathRegister" class="header-link">Registrate</a>
  </div>
</div>
